<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TK"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".backActivity.Sea_deluser_Activity"
            android:label="用户ME界面"
            android:parentActivityName=".backActivity.starActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".backActivity.Insertuser_Activity"
            android:label="用户ME界面"
            android:parentActivityName=".MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".backActivity.starActivity"
            android:label="用户ME界面"
            android:parentActivityName=".MainActivity"
            android:exported="false">
        </activity>
        <!-- 用户主界面Activity -->
        <activity
            android:name=".activity.UserMainActivity"
            android:label="用户主界面"
            android:parentActivityName=".MainActivity"
            android:exported="false">
        </activity>

        <!-- 用户me界面Activity -->
        <activity
            android:name=".activity.UserMainMeActivity"
            android:label="用户ME界面"
            android:parentActivityName=".activity.UserMainActivity"
            android:exported="false">
        </activity>

        <!-- 用户message界面Activity -->
        <activity
            android:name=".activity.UserMainMessageActivity"
            android:label="用户message界面"
            android:parentActivityName=".activity.UserMainActivity"
            android:exported="false">
        </activity>

        <!-- 用户new界面Activity -->
        <activity
            android:name=".activity.UserMainNewActivity"
            android:label="用户new界面"
            android:parentActivityName=".activity.UserMainActivity"
            android:exported="false">
        </activity>

        <!-- 用户Login界面Activity -->
        <activity
            android:name=".SignLog.SignupActivity"
            android:label="用户signup界面"
            android:parentActivityName=".SignLog.LoginActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".SignLog.LoginActivity"
            android:label="用户login界面"
            android:parentActivityName=".activity.UserMainMeActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>